<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleTypeRole</key>
            <string>Editor</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>twint-payment</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationQueriesSchemes</key>
    <array>
        <string>twint-issuer1</string>
        <string>twint-issuer2</string>
        <string>twint-issuer3</string>
        <string>twint-issuer4</string>
        <string>twint-issuer5</string>
        <string>twint-issuer6</string>
        <string>twint-issuer7</string>
        <string>twint-issuer8</string>
        <string>twint-issuer9</string>
        <string>twint-issuer10</string>
        <string>twint-issuer11</string>
        <string>twint-issuer12</string>
        <string>twint-issuer13</string>
        <string>twint-issuer14</string>
        <string>twint-issuer15</string>
        <string>twint-issuer16</string>
        <string>twint-issuer17</string>
        <string>twint-issuer18</string>
        <string>twint-issuer19</string>
        <string>twint-issuer20</string>
        <string>twint-issuer21</string>
        <string>twint-issuer22</string>
        <string>twint-issuer23</string>
        <string>twint-issuer24</string>
        <string>twint-issuer25</string>
        <string>twint-issuer26</string>
        <string>twint-issuer27</string>
        <string>twint-issuer28</string>
        <string>twint-issuer29</string>
        <string>twint-issuer30</string>
        <string>twint-issuer31</string>
        <string>twint-issuer32</string>
        <string>twint-issuer33</string>
        <string>twint-issuer34</string>
        <string>twint-issuer35</string>
        <string>twint-issuer36</string>
        <string>twint-issuer37</string>
        <string>twint-issuer38</string>
        <string>twint-issuer39</string>
        <string>twint-issuer40</string>
        <string>twint-issuer41</string>
        <string>twint-issuer42</string>
        <string>twint-issuer43</string>
        <string>twint-issuer44</string>
        <string>twint-issuer45</string>
        <string>twint-issuer46</string>
        <string>twint-issuer47</string>
        <string>twint-issuer48</string>
        <string>twint-issuer49</string>
        <string>twint-issuer50</string>
    </array>

</dict>
</plist>
